.back {
    background-color: #008591;
    color: white;
    font-weight: bold;
    opacity: 70%;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
}

.back:hover {
    opacity: 100%;
}
