<div *ngIf="selectedCountryData as country" class="infos">
  <h2 class="title">{{ country.country }}</h2>

  <div class="counts">
    <app-count 
      title="Number of entries" 
      [value]=getNumberOfEntries(country)>
    </app-count>

    <app-count 
      title="Total number of medals" 
      [value]=getNumberOfMedals(country)>
    </app-count>

    <app-count 
      title="Total number of athletes" 
      [value]=getNumberOfAthletes(country)>
    </app-count>
  </div>

  <div class="graphic">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="getMedalsOverTime(country)"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="isAutoScale"
      [animations]="isAnimations"
    >
    </ngx-charts-line-chart>
  </div>

  <button
    routerLink="/"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="back"
  >
    Back to home
  </button>
</div>
