.back {
    background-color: #00919B;
    color: white;
    font-weight: 100;
    opacity: 70%;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
}

.back:hover {
    opacity: 100%;
}
