<div *ngIf="countryData" class="infos">
  <h2 class="title">{{ countryData.country }}</h2>

  <div class="counts">
    <app-count title="Number of entries" [value]=getNumberOfEntries(countryData)></app-count>
    <app-count title="Total number of medals" [value]=getNumberOfMedals(countryData)></app-count>
    <app-count title="Total number of athletes" [value]=getNumberOfAthletes(countryData)></app-count>
  </div>

  <div class="graphic">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="getMedalsOverTime(countryData)"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="isAutoScale"
      [animations]="isAnimations">
    </ngx-charts-line-chart>
  </div>

  <button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="back">
    Back to home
  </button>
</div>