<div class="infos">
  <h2>Medals per country</h2>

  <div *ngIf="olympics$ | async as olympics">
    <p>Number of JOs <br />{{ getNumberOfJOs(olympics) }}</p>
    <p>Number of countries <br />{{ getNumberOfCountries(olympics) }}</p>
  </div>
</div>

<!-- if data loaded, display graphic -->
<div *ngIf="olympics$ | async as olympics">
  <ngx-charts-pie-chart
    [results]="getMedalsPerCountry(olympics)"
    [view]="view"
    [scheme]="colorScheme"
    [legend]="showLegend"
    [labels]="showLabels"
    [animations]="showAnimation"
    [explodeSlices]="isExplodeSlices"
    [doughnut]="isDoughnut"
    [gradient]="isGradient"
  >
  </ngx-charts-pie-chart>
</div>

<!-- if data not loaded or error, display "No data available" -->
<p *ngIf="!(olympics$ | async)">No data available</p>
