<div class="infos">
  <h2 class="title">Medals per country</h2>

  <div *ngIf="olympics$ | async as olympics" class="counts">
    <div class="count">
      <span class="titleCount">Number of JOs</span>
      <span class="numberCount">{{ getNumberOfJOs(olympics)}}</span>
    </div>
    
    <div class="count">
      <span class="titleCount">Number of countries</span>
      <span class="numberCount">{{ getNumberOfCountries(olympics)}}</span>
    </div>
  </div>
</div>

<!-- if data loaded, display graphic -->
<div *ngIf="olympics$ | async as olympics" class="graphic">
  <ngx-charts-pie-chart
  [results]="getMedalsPerCountry(olympics)"
  [view]="view"
  [scheme]="colorScheme"
  [legend]="showLegend"
  [labels]="showLabels"
  [maxLabelLength]="20"
  [animations]="showAnimation"
  [explodeSlices]="isExplodeSlices"
  [doughnut]="isDoughnut"
  [gradient]="isGradient"
  (select)="getOlympicsByCountry($event)" 
  >
  <ng-template #tooltipTemplate let-model="model">
    <div class="custom-tooltip">
      <span>{{ model.name }} </span><br />
      <i class="fa fa-solid fa-award"></i>
      <span> {{ model.value }}</span>
    </div>
  </ng-template>
  </ngx-charts-pie-chart>
</div>

<!-- if data not loaded or error, display "No data available" -->
<p *ngIf="!(olympics$ | async)">No data available</p>
