.infos, .count, .graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphic {
    margin-top: 20px;
}

.title , .count {
    border-radius: 10px;
    padding: 10px
}

.title {
    background-color: #008591;
    color: white;
    font-weight: 100;
}

.counts {
    display: flex;
    flex-direction: wrap;
}

.count {
    border: solid #008591;
    margin: 10px;
    text-align: center;
}

.titleCount {
    color: #979797;
}

.numberCount {
    font-weight: bold;
    margin-top: 5px;
}

.back {
    text-decoration: none;
    background-color: #008591;
    color: white;
    font-weight: bold;
    opacity: 70%;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
}

.back:hover {
    opacity: 100%;
}